ul{
  text-align: center;
}

footer{
  background-color: black;
  padding: 1em;
  margin-top: 1em;
  color: white;
}

.sign{
  background: black;
  padding: 1.5em;
  margin-top: 1em;
}

.logo{
  width: 5em;
}

header{
  background-color: black;
}

nav, nav a, nav a:hover{
  text-decoration: none;
  color: #F15A29;
  font-family: 'Archivo Narrow', sans-serif;
}

a,a:hover{
  text-decoration: none;
  color: #F15A29;
  padding: .5rem;
  font-family: 'Archivo Narrow', sans-serif;
}

.banner{
  background-image: url(../assets/startup_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3em;
  text-align: center;
  color: white;
}

.banner2{
  background-image: url(../assets/meeting_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5em;
  text-align: center;
  color: white;
}

.banner3{
  background-image: url(../assets/computer_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5em;
  text-align: center;
  color: white;
}

.banner4{
  text-align: center;
  padding: 1em;
}

.banner5{
  background-image: url(../assets/office_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5em;
  text-align: center;
  color: white;
}

.box{
  margin: 1em;
  background-color: black;
  padding: 1em;
  color: white;
  max-height: ;
}

h1, h2, h3{
  font-family: 'Archivo Narrow', sans-serif;
}

@media only screen and (min-width: 38em){

}
